body {
  
  font-family: sans-serif;
}

.Home{
  text-align: center;
  background-image: url('images/Windhoek-City-Views.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

.divindiv{
  padding-top:75px;
  padding-bottom:75px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #060606b3;
  color: white;
}

.Notfoundh1{
  font-size: 5em;
}

.Notfoundbody{
  text-align: center;
}

.logo{
  text-align: left;
  font-size: 1px;
  padding-right: 50px;
  padding-top: 5px;
}

.carousel{
	height: 100vh ;
}
.carousel-item{
	height: 50vh;
}
