body {
  font-family: sans-serif;
}

.btn{
margin-right: 10px;
margin-bottom: 10px;
}

.brand-logo{
font-size: 30px;
}

.contact-pic {
   background-image: url("images/chair.jpg");
   height: 100vh;
   background-size: cover;
}

.add-pic {
   background-image: url("images/eagleview.jpg");
   height: 100vh;
   background-size: cover; 
}

.view-img{
height: 500px; 
width: 900px;
display: block;
    margin-left: auto;
margin-right: auto;
}

#row-1{
margin-top: 0;
padding: 20%;
text-align: center;
color: white;
background-image: url("images/beach-house.jpeg");
}

#row-2{
margin-top: 0;
padding: 20%;
text-align: center;
color: white;
background-image: url("images/apartment.jpg");
}

#row-3{
padding: 10px;
}

#bold{
font-weight:bold;
}

#contact{
margin-top: 10%;
}

#user-info{
padding: 10%;
}

#user-pic{
padding-top: 5%;
}

#blue{
color: #4fc3f7;
}

.center{
  text-align: center;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
	color: #4fc3f7 !important;
  }

.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: #4fc3f7 !important;
}


.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #4fc3f7 !important;
   box-shadow: 0 1px 0 0 #4fc3f7 !important;
}

.input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #4fc3f7 !important;
   box-shadow: 0 1px 0 0 #4fc3f7 !important;
 }

.Home{
  text-align: center;
  background-image: url('images/Windhoek-City-Views.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

#divindiv{
  
  padding-bottom:99px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #060606b3;
  color: white;
  
}

.Notfoundh1{
  font-size: 5em;
}

.Notfoundbody{
  text-align: center;
}

.logo{
  text-align: left;
  font-size: 1px;
  padding-right: 50px;
  padding-top: 5px;
}

.carousel{
	height: 100vh ;
}
.carousel-item{
	height: 50vh;
}

.navbar-default{ margin-bottom: 0; }

#nav-pic{

vertical-align: middle;
margin-right: 50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

#carousrlimage{
  background-image: url('images/Windhoek-City-Views.jpg');
  color: #4fc3f7;
  padding-bottom: 130px
}

#carousrlimage1{
  background-image: url('images/outside.jpg');
  color: #4fc3f7;
}

#carousrlimage2{
  background-image: url('images/GI_exterior02_24_698x390_FitToBoxSmallDimension_Center.jpg');
  color: #4fc3f7;
}

#carousrlimage3{
  background-image: url('images/Lusaka-city.jpg');
  color: #4fc3f7;
}


.buttonStyle{
  background-color: #4fc3f7;
  border: solid #4fc3f7;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
}

